@charset "UTF-8";

body {
	background: black;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
	
}
.logo-box {
    width:100px;
    height:100px;
    overflow:hidden;
    margin:0 auto;
    margin: 10px
}

.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
}

#loginbox {
    display: block;
    width : 600px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -250px;
    background-color: #000000;
	box-shadow: -5px -5px 10px;
	border : 2px solid #00f7ff;
	filter: drop-shadow(-1px -1px 3px #41c4c4);
}

#wel {
    font-size: 70px;
    color: #00f7ff;
    position: relative;
    left: 12%;
	-webkit-text-stroke: 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 30px;
    text-shadow: #ff00bf 3px 3px;
	font-weight: bolder;
}

#findPW {
	position: relative;
	font-size: 20px;
	right: 220px;
    -webkit-text-stroke: 1px #00f7ff;
	top: 90px;
}


#id {
    padding-top:  100px;
    margin-bottom: 10px;
    padding-left: 95px;
}
#pw {
    padding-left: 95px;
    margin-bottom: 30px;
}
#findbut {
    padding-top: 20px;
    padding-left: 95px;
    
}
#jointext{
    padding-left: 95px;
    padding-top: 20px;
}
.logintxt {
	background-color: #1E1F22;
	width: 400px;
	height: 35px;
	color: #B1B5BC;
	margin-top: 5px;
	border: 1px solid #ff00bf;
	background-color:transparent;
	
}

.loginlabel {
   color: #ffffff;
	font-weight:900;
}

#changebut {
    width: 410px;
	height: 40px;
	color: #00f7ff;
	background-color: #000000;
	cursor: pointer;
	border: 1px solid #00f7ff;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	box-shadow: 0px 7px 0px 0px #1e1f22;
	border-radius: 5px;
}
#changebut:active {
	position: relative;
	top: 2px;
	box-shadow: none;
}
#loginbut {
    width: 410px;
	height: 40px;
	color: #00f7ff;
	background-color: #000000;
	cursor: pointer;
	border: 1px solid #00f7ff;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	box-shadow: 0px 7px 0px 0px #1e1f22;
	border-radius: 5px;
}
#loginbut:active {
	position: relative;
	top: 2px;
	box-shadow: none;
}

#spanlink {
    -webkit-text-stroke: 1px #ffffff;
	padding-left : 5px;
}
#spanlink:hover {
    -webkit-text-stroke: 1px #00f7ff;
}

.alink {
    text-decoration-line: none;
}


.logintxt:-webkit-autofill, .proText:-webkit-autofill:hover, .proText:-webkit-autofill:focus, .proText:-webkit-autofill:active{
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    transition: background-color 5000s ease-in-out 0s;
}
.emailInput:-webkit-autofill, .proText:-webkit-autofill:hover, .proText:-webkit-autofill:focus, .proText:-webkit-autofill:active{
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    transition: background-color 5000s ease-in-out 0s;
}

#domain-txt:-webkit-autofill, .proText:-webkit-autofill:hover, .proText:-webkit-autofill:focus, .proText:-webkit-autofill:active{
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    transition: background-color 5000s ease-in-out 0s;
}

.cerInput:-webkit-autofill, .proText:-webkit-autofill:hover, .proText:-webkit-autofill:focus, .proText:-webkit-autofill:active{
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    transition: background-color 5000s ease-in-out 0s;
}

.intext {
	padding-left: 95px;

}

.alink {
	text-decoration-line: none;
}

.essential {
	color: #ff00bf
}

.info#info__birth {
	display: flex;
}

.info#info__birth select {
	margin-left: 7px;
}

.info#info__birth select:first-child {
	margin-left: 0px;
}
select.box {
	width: 127px;
	height: 35px;
	box-sizing: border-box;
	margin-top: 5px;
	padding: 5px 0 5px 10px;
	border-radius: 4px;
	border: 1px solid #ff00bf;
	color: #B1B5BC;
	background-color: #000000;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-right: 10px;
}

option {
	font-size: 16px;
}

.info .box#domain-list option {
	font-size: 14px;
	background-color: #000000;
}

.emailInput {
	width: 127px;
	height: 35px;
	box-sizing: border-box;
	margin-top: 5px;
	padding: 5px 0 5px 10px;
	border-radius: 4px;
	border: 1px solid #ff00bf;
	color: #B1B5BC;
	background-color: #000000;
	font-family: 'Montserrat', 'Pretendard', sans-serif;
}

#domain-txt {
	width: 127px;
	height: 35px;
	box-sizing: border-box;
	margin-top: 5px;
	padding: 5px 0 5px 10px;
	border-radius: 4px;
	border: 1px solid #ff00bf;
	color: #B1B5BC;
	background-color: #000000;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#em {
	color: gray;
	padding-left: 5px;
}

.cerInput {
	width: 145px;
	height: 35px;
	box-sizing: border-box;
	margin-top: 10px;
	padding: 5px 0 5px 10px;
	border-radius: 4px;
	border: 1px solid #ff00bf;
	color: #B1B5BC;
	background-color: #000000;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	cursor: pointer;
}

#certifybut {
	background-color: #000000;
	cursor: pointer;
	border: 1px solid #00f7ff;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width: 130px;
	height: 40px;
	color: #00f7ff;;
	border-radius: 5px;
	margin-left: 5px;
	box-shadow: 0px 5px 0px 0px #1e1f22;
	
}
#chknumbut{
	width: 130px;
	height: 40px;
	color: white;
	border-radius: 5px;
	margin-left: 5px;
	color: #ff00bf;
	background-color: #000000;
	cursor: pointer;
	border: 1px solid #ff00bf;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	box-shadow: 0px 5px 0px 0px #1e1f22;
}

.arrow_box {
  display: none;
  position: absolute;
  width: 280px;
  padding: 8px;
  left: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #000000;
  color: #fff;
  font-size: 14px;
border: 1px solid #ff00bf;
}

.arrow_box:after {
   position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #000000;
  border-width: 10px;
  pointer-events: none;
  content: ' ';
  border: 1px solid #ff00bf;
}


span:hover + p.arrow_box {
  display: block;
}

#resetbox {
    display: none;
    width : 600px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -250px;
    background-color: #000000;
	box-shadow: -5px -5px 10px;
	border : 2px solid #00f7ff;
	filter: drop-shadow(-1px -1px 3px #41c4c4);
}

#resetPW {
    position: relative;
	font-size: 20px;
	right: 240px;
    -webkit-text-stroke: 1px #00f7ff;
	top: 90px;
}

#repw {
    padding-top:  100px;
    margin-bottom: 10px;
    padding-left: 95px;
}
#rerepw {
    padding-left: 95px;
    margin-bottom: 30px;
}

#resetpwbut{
    padding-left: 95px;
}