@charset "UTF-8";

body {
    width: auto;
    margin: 0px;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* 메뉴바, 메인 div 포함하는 전체 div */
#all {
    display: flex;
    justify-content: left;
}

/* 왼쪽 메뉴 바 */
#menuall {
    display: block;
    width: 240px;
    height: 100vmin;
    position: sticky;
    top: 0;
    border-right: 1px solid #00f7ff;
    box-shadow: 3px 0px 7px 0px #41c4c4;
    overflow-y: auto;
}

/* 주요 컨텐츠 */
#main {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 15px;
}

/* 글 작성 창 */
#postingWindow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000050;
}
/* yoom에서 추가 */
#root{
	margin-left:70px;
	

}
.postS{
	border:1px solid violet; display:none;
}
.cssid{
	margin-top:60px;
	width:90%;
	height:40px;
	border:1px solid violet;
	background-color:black;
	color: violet;
}
.cont{
	width:90%;
	height:200px;
	border:1px solid violet;
	background-color:black;
	color: violet;
	
}
.likdeLine{
	width:100%;
	height:50px;
	border:1px soild violet;
}
.likeCount{
	margin-left:30px;
	width:40%;
	text-align:left;
	display:inline-block;
}
.viewCount{
	margin-left:30px;
	width:40%;
	text-align:right;
	display:inline-block;
}
.showCnt{
	border:none;
	background-color:black;
	color:violet;
	
}


