body {
    width: auto;
    margin: 0px;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* 메뉴바, 메인 div 포함하는 전체 div */
#all {
    display: flex;
    justify-content: left;
}

/* 왼쪽 메뉴 바 */
#menuall {
    display: block;
    width: 240px;
    height: 100vmin;
    position: sticky;
    top: 0;
    border-right: 1px solid #00f7ff;
    box-shadow: 3px 0px 7px 0px #41c4c4;
    overflow-y: auto;
}

/* 주요 컨텐츠 */
#main {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 15px;
}

/* 글 작성 창 */
#postingWindow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000050;
}
