body {
    background-color: black;
    text-align: center;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#profile {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 500px;
    box-shadow: -5px -5px 10px;
    border: 3px solid #00f7ff;
    margin-bottom: 5px;
}

#proTitle {
    color: #00f7ff;
    display: block;
    font-size: 50px;
    text-shadow: #ff00bf 3px 3px;
}

#proAll {
    position: absolute;
    width: 800px;
    height: 650px;
    margin-left: -400px;
    margin-top: -325px;
    top: 50%;
    left: 50%;
}

#proPhoto {
    border: 2px solid #ff00bf;
    border-radius: 50%;
    display: block;
    width: 280px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#proLeft {
    text-align: left;
    width:  45%;
    height: 100%;
}

#proLeft span {
    font-size: 12px;
    margin-top: 10%;
    margin-left: 10%;
    display: block;
    color: white;
}

#proLeft p {
    margin-left: 10%;
    font-size: 12px;
    padding-top: 0px;
    display: block;
    color: white; 
}

#file {
    display: none;
}

#fileSelect {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #00f7ff;
    font-size: 30px;
}

#profileImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

#proRight {
    width: 55%;
    height: 100%;
}

#proTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: white;
}

.proText {
    background-color: transparent;
    border: 1px solid #ff00bf;
    width: 100%;
    height: 80%;
    resize: none;
    color: #00f7ff;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#proRight span {
    color: white;
}

#profileSouth {
    width: 100%;
    text-align: right;
}

#save {
    background-color: transparent;
    color: #00f7ff;
    font-weight: bolder;
    border: none;
    font-size: 35px;
    text-shadow: #ff00bf 3px 3px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.proChk:checked {
    accent-color: #00f7ff;
}

#nameText {
    width: 100%;
}

#nickNameChk {
    color: #00f7ff;
    border: 1px solid #00f7ff;
    font-weight: bolder;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    margin-left: 10%;
    height: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.proText:-webkit-autofill{
    -webkit-text-fill-color: #00f7ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}