#searMenuBar {
    margin-top: 1%;
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #00f7ff;
    border-bottom: 2px solid #00f7ff;
    top: 95px;
    position: fixed;
    margin: 15px;
    z-index: 10;
}

#searMenu {
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
	width: 100%;
	height: 100%;
	margin-top: 0px;
}

#searMenu li {
    width: 20%;
    text-align: center;
    height: 100%;
    cursor: pointer;
}

#searMenu span {
    display: block;
    margin-top: 14px;
}

#searMenu li:hover {
    text-decoration: underline #ff00bf;
    text-underline-position: under;
    color: #ff00bf;
}

#nowKeyType {
    text-decoration: underline #ff00bf;
    text-underline-position: under;
    color: #ff00bf;
}

#searResult {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
}

#searchNone {
    text-align: center;
}

#searchNone span {
    display: block;
    font-size: 20px;
    margin-top: 180px;
}

#searchResultUser {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 60% 40%;
    margin-bottom: 30px;
}

.userPhotoCircle {
    border: 2px solid #ff00bf;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

.userPhoto {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.userNick {
    font-size: 40px;
}

.searUser:nth-child(2), .searUser:nth-child(3) {
    padding-left: 2%;
}

.searUser:nth-child(3) {
    padding-top: 1%;
}

.userId, .userBio {
    font-size: 18px;
}