#searMenuBar {
    margin-top: 1%;
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #00f7ff;
    border-bottom: 2px solid #00f7ff;
    top: 95px;
    position: fixed;
    margin: 15px;
}

#searMenu {
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
	width: 100%;
	height: 100%;
	margin-top: 0px;
}

#searMenu li {
    width: 20%;
    text-align: center;
    height: 100%;
    cursor: pointer;
}

#searMenu span {
    display: block;
    margin-top: 14px;
}

#searMenu li:hover {
    text-decoration: underline #ff00bf;
    text-underline-position: under;
    color: #ff00bf;
}

#nowKeyType {
    text-decoration: underline #ff00bf;
    text-underline-position: under;
    color: #ff00bf;
}

#searResult {
    width: 95%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}