<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IF_BlockDao">

	<select id="selectBlocked" parameterType="String" resultType="vo.ProfileVO">
		select * from profileTest where id in (
		select blockId from blockTest where id = #{id}
		)
	</select>
	
	<insert id="insertBlock" parameterType="map">
		insert into blockTest values(#{id}, #{bvo.blockId}, 
		<choose>
			<when test='bvo.reason == null'>
				default
			</when>
			<otherwise>
				#{bvo.reason}
			</otherwise>
		</choose>
		)
	</insert>
	
	<delete id="deleteBlock" parameterType="map">
		delete from blockTest where id = #{id} and blockId = #{blockId}
	</delete>
	
	<select id="selectBlockedCnt" parameterType="vo.BlockVO" resultType="_int">
		select count(blockId) from blockTest where id = #{id} and blockId = #{blockId}
	</select>
	
</mapper>