<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IF_MainDAO">
	
	<select id="mainList" resultType="vo.PostVO" parameterType="String">
		select * from posttest where privacy = 1 order by p_date desc
	</select>
	<select id="myPost" resultType="vo.PostVO" parameterType="String">
		select * from posttest where id = #{id} order by no desc
	</select>
	<!-- 좋아요 누른 글 리스트 -->
	<select id="lovePostList" resultType="vo.PostVO" parameterType="String">
		select posttest.* from posttest left join p_lovetest on posttest.no = p_lovetest.no where p_lovetest.id = #{id} order by p_date desc
	</select>
	<select id="takePostVO" resultType="vo.PostVO" parameterType="int">
		select * from posttest where no = #{no} order by p_date desc
	</select>
	<select id="attachList" resultType="vo.PostVO">
		select * from attachtest
	</select>
	<select id="postAttach" resultType="String">
		select filename from attachtest where no = #{no}
	</select>
	<select id="postLength" resultType="int" parameterType="String">
		select count(*) from posttest where id = #{id}
	</select>
	<!-- 글의 댓글 개수 -->
	<select id= "takeCommCnt" parameterType = "int" resultType= "int">
		select count(*) from commtest where no = #{no}
	</select>
	<!-- 글의 좋아요 개수 -->
	<select id= "takeP_loveCnt" parameterType = "int" resultType= "int">
		select count(*) from p_lovetest where no = #{no}
	</select>
	<!-- 글의 리포스트 개수 -->
	<select id= "takeReCnt" parameterType = "int" resultType= "int">
		select count(*) from posttest where re_no = #{no}
	</select>
	<select id = "chklove" parameterType = "String" resultType="int">
		select no from p_lovetest where id = #{id}
	</select>
	<update id = "p_show" parameterType="int">
		update posttest set show = show+1 where no = #{no} 
	</update>
	<insert id = "p_love" parameterType="hashmap">
		insert into p_lovetest values(#{id},#{no}) 
	</insert>
	<delete id = "p_loveCancel" parameterType="hashmap">
		delete from p_lovetest where id= #{id} and no = #{no}
	</delete>
	<select id="selectAttachWhere" parameterType="_int" resultType="String">
		select filename from attachTest where no = #{no}
	</select>
</mapper>
