<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IF_MainDAO">
	
	<select id="mainList" resultType="vo.PostVO" parameterType="String">
		select * from posttest where privacy = 1 order by p_date desc
	</select>
	<select id="myPost" resultType="vo.PostVO" parameterType="String">
		select * from posttest where id = #{id} order by no desc
	</select>
	<!-- 좋아요 누른 글 리스트 -->
	<select id="lovePostList" resultType="vo.PostVO" parameterType="String">
		select posttest.* from posttest left join p_lovetest on posttest.no = p_lovetest.no where p_lovetest.id = #{id}
	</select>
	<select id="takePostVO" resultType="vo.PostVO" parameterType="int">
		select * from posttest where no = #{no}
	</select>
	<select id="attachList" resultType="vo.PostVO">
		select * from attachtest
	</select>
	<select id="postAttach" resultType="String">
		select filename from attachtest where no = #{no}
	</select>
	<select id="postLength" resultType="int" parameterType="String">
		select count(*) from posttest where id = #{id}
	</select>
</mapper>