<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IF_ProfileDao">
<insert id="insert" parameterType="vo.ProfileVO">
	insert into profileTest values(#{id}, #{nickName}, #{photo, jdbcType=VARCHAR}, #{tel, jdbcType=VARCHAR}, #{bio, jdbcType=VARCHAR}, #{privacy}, default)
</insert>
<select id="chk" resultType="int">
	select count(nickname) from profileTest where nickname = #{nickName}
</select>
<select id="select" resultType="vo.ProfileVO">
	select * from profileTest where p_main = 1 and id = #{id}
</select>
<update id="update" parameterType="vo.ProfileVO">
	update profileTest set id = #{id}, nickName = #{nickName}, photo = #{photo, jdbcType=VARCHAR}, tel = #{tel, jdbcType=VARCHAR}, bio = #{bio, jdbcType=VARCHAR}, privacy = #{privacy} where id = #{id}
</update>
<select id="matchId" resultType="String">
	select nickName from profileTest where id = #{id} and p_main =1
</select>
<select id="selectProfile" resultType="vo.ProfileVO">
	select * from profileTest where id = #{id}
</select>
</mapper>